header {
	font-family:Times New Roman;
	font-size:30px;
	text-align:left;
	letter-spacing:10px;
	line-height:100%;
	background-color:black;
	color:white;
	position:fixed;
	width:98%;
	height:90px;
	padding:5px;
}

ul.menu {
	clear: both;
	float: left;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid #7C7C7C;
}

ul.menu li {
	float: left;
	width: 20%;
}

ul.menu li a {
	padding: .3em;
	display: block;
	text-decoration: none;
	color: #333;
	background: #F4F4F4;
	border-top: 1px solid #7C7C7C;
	border-right: 1px solid #7C7C7C;
	border-bottom: 1px solid #9C9C9C;
}

aside {
	line-height:100%;
	height:525px;
	width:20%;
	float:left;
	margin-top: 180px; 
	margin-bottom:2px;
	padding:5px;
	background-image:url("http://www.juliosoler.net/images/bg2.jpg");
	background-color:#61615f;
	font-size:20px;
	font-family:Times New Roman;
	color: white;
}


section {
	float:left;
	margin-top: 180px;
	margin-left:10px;
	margin-right:10px;
	border: 2px solid black;
	padding: 10px 40px; 
	background-color: #cccccc;
	background-image: url("http://previews.123rf.com/images/oly5/oly51304/oly5130400227/19280582-abstract-white-background-gray-color-vintage-grunge-background-texture-frosty-silver-background-luxu.jpg");
	width: 50.68%;
	line-height:15px;
	border-radius: 20px;
	box-shadow: 3px 3px 20px black;
	font-size:15px;
	font-family:Georgia;
}

.intro {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.col_caract {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


footer {
	background-color:black;
	color:white;
	clear:both;
	text-align: center;
	padding:5px;
}
